:root {
    --maincolor: #4169e1;
}

body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.nav {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    z-index: 99;
}

.nav h1 {
    display: inline-block;
    font-size: 18px;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.nav a {
    color: #000;
    text-decoration: none;
}

.nav a:hover {
    color: #4169e1;
}