body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

    
nav li,b{
    color: white;
    font-size: 12pt;
    font-weight: lighter;
    list-style-type: none;
}
    
nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    height: 52px;
}
    
nav a:visited {
    color: white;
}
    
nav a:hover {
    color: #000000;
    background-color: #ffffff;
}

@media(max-width: 768px) {
    nav>.not_mobile {
        display: none;
    }

    nav>.mobile {
        background-color: #4169e1;
        position: fixed;
        width: 100%;
        height: 52px;
        z-index: 3;
    }
    
    nav>.mobile>.logo {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav>.mobile>i {
        float: right;
    }

    nav>.mobile img {
        display: none;
    }

    nav>.mobile li {
        display: inline-block;
        text-align: center;
    }

    nav>.mobile>.menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: right;
        background-color: #4169e1;
        border: 1px #ffffff solid;
    }
}

@media(min-width: 768px) {
    nav>.mobile {
        display: none;
    }

    nav>.not_mobile {
        background-color: #4169e1;
        position: fixed;
        width: 100%;
        height: 52px;
        z-index: 3;
    }
    
    nav>.not_mobile>.logo {
        height: 52px;
        display: flex;
        float: left;
        justify-content: space-around;
        align-items: center;
    }
    
    nav>.not_mobile>.menu {
        display: flex;
        float: right;
        justify-content: space-around;
        align-items: center;
    }
    
    nav>.not_mobile img {
        height: 48px;
        width: auto;
        display: block;
    }
}

#home>.home-img {
    position: static;
    display: inline;
    text-align: center;
    top: 52px;
    z-index: 1;
}

#home>.home-img>img {
    width: 98%;
    height: auto;
}

#home>.content {
    position: static;
    top: 100%;
    background-color: white;
    z-index: 2;
}

#download>.content {
    position: absolute;
    top: 52px;
    background-color: white;
    z-index: 2;
}

#help>.content {
    position: absolute;
    top: 52px;
    background-color: white;
    z-index: 2;
}